body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    align-content: center;
}
header {
    text-align: center;
}
img {
    width: 200px;
    border-radius: 50%;
}
.button {
  transition: transform 0.3s;
}
.button:hover {
  transform: scale(1.05);
}
